
    * {
      box-sizing: border-box;
    }
    body {
      margin: 0;
      font-family: 'Inter', sans-serif;
    }
    .container {
      max-width: 1500px;
      margin: 0 auto;
      padding: 20px;
    }
    .news-container {
      display: grid;
      grid-template-columns: repeat(auto-fit, minmax(500px, 1fr));
      grid-gap: 20px;
    }
    .news-item {
      border: 1px solid #ccc;
      border-radius: 5px;
      overflow: hidden;
      transition: transform 0.3s ease;
      display: flex;
    }
    .news-item:hover {
      transform: scale(1.05);
    }
    .news-item img {
      width: 300px;
      height: 300px;
      object-fit: cover;
    }
    .news-item-content {
      padding: 20px;
      flex-grow: 1;
    }
    .news-item h2 {
      margin-top: 0;
      font-size: 18px;
      margin-bottom: 10px;
    }
    .news-item p {
      margin: 0;
      font-size: 14px;
    }
    .h1 {
      align-items: center;
    }